
#calhead{
    margin: 20px 10%   ;
    font-family: 'PT Serif', sans-serif;
   background-color: rgb(45, 45, 131);
   color: white;
   font-size: 22px;
   border-radius: 1px;
}
body{
    margin: 0;
}
header img{
    width:12%;
    height: 12%;
}
header{
    position:relative;
    width: 100%;
}
header img{
    width:12%;
    height: 12%;
}
header{
    position:relative;
    width: 100%;
}
header div{
    background-color:rgb(253, 249, 245);
    color: rgb(223, 216, 216);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
img{
    margin-left: 10%;
}
header ul{
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    justify-content: space-between;
   text-decoration: none;
}
header li{
    margin: 5px;
}
a{
    text-decoration: none;
}

#formflex{
    display: flex;
}
#form1{
    margin: 20px 10%;
    padding: 20px;
    height: 200px;
    width: 19%;
    border: 1px solid rgb(45, 45, 131);
    color: rgb(45, 45, 131);
    font-size: 20px;
    background-color: rgb(240, 240, 245);
    /* font-family: 'fira sans'; */
}
button{
    background-color: rgb(45, 45, 131);
    border-radius: 3px;
    color: white;
    padding: 4px 9px;
    margin: auto 100px;
}
#form2{
    height:350px ;
    width:450px ;
    padding: 20px;
    border: 1px solid white;
}
input{
text-align: right;
}
#info{
 margin: 3% 10%; 
 font-family: 'Poppins', sans-serif; 
color: rgb(36, 36, 57);
    
}
table{
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  text-decoration: bold;
}
th{
    padding: 10px;
    background-color: rgb(45, 45, 131);
    color: white;
    border: 1px solid white;
}
td{
    border: 1px solid rgb(143, 143, 155); 
}
td:nth-child(1){
   text-align: left;
}
tr:nth-child(odd){
   background-color: rgb(187, 187, 240);
 }