body{
    margin: 0px;
}
header img{
    width:12%;
    height: 12%;
}
header{
    position:relative;
    width: 100%;
}

#signin li{
  margin-right: 30px;
  
 
}

.home a{
    background-image: url("../WAD_project/images/image/blue2.png");
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
text-decoration: none;
box-shadow: 2px 4px 8px rgb(122, 120, 120);
}
.home a:hover{
    background-image: url("../WAD_project/images/image/orange.png");
    color: rgb(255, 255, 255);
    
    text-decoration: none;
   
}
.signin a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px;
    border: 2px solid rgb(50, 50, 87);
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgb(122, 120, 120);
}
.signin a:hover{
    border-radius: 15px;
     border: 2px solid rgb(250, 121, 56);
     color:  rgb(250, 121, 56);
     padding: 8px;
} 

a:hover{
    color: rgb(77, 77, 90);
   
}
header div{
    background-color:rgb(253, 249, 245);
    color: rgb(223, 216, 216);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
header ul{
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
header li{
    margin: 5px;
}

/* footer  */
.line-1 {
    width: 0.5px;
    background: rgb(255, 255, 255);
  }
footer{
    background-image: url("../WAD_project/images/image/blue2.png");
    color:  rgb(253, 249, 245);
    
}

footer ul{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    padding: 36px 0;
   
}

.footlogo a{
   color: rgb(75, 63, 47);
    text-decoration: none;
}
.footlogo h1{
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    margin-top: 0;
    color:rgb(253, 249, 245); 
   
}
.footlogo p{
    color:rgb(253, 249, 245);
    font-family: 'Quicksand', sans-serif;
}
footer ul img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    padding-right: 16px;
}
#contactus p{
    color:rgb(213, 213, 213);
    font-size: 15px;
}
#contactus strong{
    font-size: 25px;
    color:rgb(253, 249, 245);
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
}

#copyright{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding-bottom: 12px;
    margin: 0;
    font-size: 13px;
    font-weight:lighter;
    color: rgb(146, 145, 145);

}
/*
li:Nth-of-type(1){
    grid-column: 1/span 3;
}

li:Nth-of-type(2){
    grid-column: 4/span 3;
}
li:nth-of-type(3){
    grid-column: 3/span 5;
    grid-row: 2/span 1;
}

li:Nth-of-type(4){
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}
li:Nth-of-type(5){
    grid-column: 5/span 2;
    grid-row: 2/span 1;
}
*/


