
#img{
    background-image: url("../WAD_project/images/image/health4.jpg");
    height: 800px;
    background-position: center;
    background-size: cover;
    


}

#bluring{
  
        background-color: rgba(49, 56, 61, 0.5);
        box-shadow: 2px 4px 8px rgb(122, 120, 120);
        border-radius:8px;
        text-align:center;
        padding:50px 0;
        margin:0 auto;
        position: relative;
        height: 700px;
        
        background-position: center;
        background-size: cover;
        

}
#data{
    position: relative;
    top: -600px;
    left: 50px;
    
}
#button1{
    margin-top: 20px;
    height: 40px;
    width: 190px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(253, 249, 245);
    outline-color:  rgb(253, 249, 245);
    border: 0px;
}

#data a:hover{
    background-color: rgb(214, 208, 208)  ;
}
hr{
    width: 30%;
    margin-right: 1500px;

}
/*
#notBold{
    color: white;
    font-size: 15px;
    font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   padding:0 30px  ;
   margin: 0 50px;

}*/
#data p{
   margin: 0 1000px 0 0;
    font-size: 50px;
    color: rgb(253, 249, 245);
    font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;

}



/*section 3*/
h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    padding: 50px;
}
#onlyp{
    text-align: center;
    font-size: 20px;
}
#three{
    background-color:rgb(253, 249, 245);
    font-family:Arial, Helvetica, sans-serif;
}
#three1 ul{
    width:1200px;
    margin:0 0  0 120px ;

    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 20px 20px;
    list-style: none;
    padding-bottom: 30px;
   
    
}


li:Nth-of-type(3){
    grid-column: 1/span2;
}

#three1 ul li{
   padding: 20px;
     border-radius: 3px;
     outline-color: rgb(253, 249, 245);
     outline-width: 2px;
     outline-style: solid;
     background-color: white;
     
}
#three1 ul img{
   height:300px;
   width:300px;
}
#highlight {
    padding:24px;
    background-image: url("../WAD_project/images/image/blue2.png");
    
    /* background: linear-gradient(45deg, #778796, #778799); */
}
#explore{
    color: rgb(207, 204, 204);
    text-align: center;
    font-size: 17px;
    margin-top: 0;
    padding-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
}
#highlight h2{
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    margin:24px 0 5px 0;
    font-size: 40px;
 padding: 0;
 font-weight: bolder;
 font-family: 'Quicksand', sans-serif;
}
#destination{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap  
 
}

.destination{
margin: 0 20px;
list-style: none;
font-family: 'Quicksand', sans-serif;
}
.destination img{
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow:2px 4px 8px rgb(0, 0, 0) ;
   
}

.destination p{
    position: relative;
    left: 53px;
    top: -80px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 30px;
}
    /*
#destination{
    display: flex;
    width: 50%;
    margin: 10  0px;
    justify-content:space-around;
    flex-direction: row;
    margin-bottom: 40px;
    flex-wrap: wrap                                                          ;
    
}

.destination{
 margin: 0 20px;   
 list-style: none;
}

.destination p{
    text-align: center;
   text-transform: uppercase; 
   font-size: 24px;
   color: rgb(255, 250, 250);
    margin:20px 0 ;
}


.destination img{
    height: 300px;
    width:60%;
    box-shadow:2px 4px 8px rgb(68,67,67) ;
    border-radius: 10px;
    object-fit: cover;
    }
    

.destination strong{
    color:rgb(255, 255, 255) ;
}
*/
/*
#img{
    background-image: url("../WAD_project/heALTHY.webp");
    height: 800px;
    background-position: center;
    background-size: cover;
    


}

#bluring{
  
        background-color: rgba(118, 115, 115, 0.7);
        box-shadow: 2px 4px 8px rgb(122, 120, 120);
        border-radius:8px;
        text-align:center;
        padding:50px 0;
        margin:0 auto;
        position: relative;
        height: 800px;
        
        background-position: center;
        background-size: cover;
        

}
*/
/* section 4 */


#four ul{
    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, 186px);
    list-style: none;
    margin: 100px 350px;
    gap: 30px;
    
}
#four img{
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgb(122, 120, 120);
}
li:nth-of-type(3){
    grid-column:3/span 1;
}
li:nth-of-type(4){
    grid-column:1/span 2;
}
.one img{
    height: 312px;
    width: 162px;
    object-fit: cover;
    padding-top: 72px;
  
}

.two img{
    height:380px;
    width: 210px;
    object-fit: cover;
}
.three p{
    font-size: 20px;
    text-transform: capitalize;
    width:390px;
}
.four img{
    height:250px;
    width: 352px;
    padding-right: 70px;
    object-fit: cover;
}

.five img{
    height:230px;
    width: 392px;
   margin-left: -40px;
   object-fit: cover;
}

#diet{
    font-size: 45px;
    font-weight: bolder;
    text-transform: capitalize;
   
    font-family: 'Quicksand', sans-serif;

}
#nodiet{
    font-size: 15px;
    color: rgb(135, 132, 132);
    font-family: 'Patua One', cursive;
}